h1{
    text-align: center;
    position: relative;
    font-size: 60px; 
    color: #000; 
  }
  .botao1{
    float: left;
    width:300px;
     
     padding: 33px 15px; 
     vertical-align: middle; 
     color:white;
     
  }
  .botao2{
    
     float: left;
     width:192px;
     border:0px solid; 
     padding: 35px 15px; 
     vertical-align: middle; 
     color:white;
     border-radius:6px; 
     font-size: 20px; 
  }
  @media(max-width: 900px){
    .botao1{
      margin-top: 1%;
    }
    .botao2{
        margin-top: 1%;
      }
  
  }